@import url('https://fonts.googleapis.com/css2?family=Festive&family=Rubik:wght@300&display=swap');

body{
    background-color: #9ccdf0;
    font-family: 'Rubik', sans-serif;
}

.grid-container{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-column-gap: 20px;
   grid-row-gap: 20px;
   padding: 20px;
   margin: 20px;
   position: relative;
   left: 350px;
   bottom: 200px;
   width: 1500px;
}

.carousel-item{
    width: 670px;
    height: 426px;
    position: relative;
    left: 600px;
}

.head{
    width: 1615px;
    height: 740px;
    position: relative;
    left: 300px;
    bottom: 257px;
    font-family: 'Festive' , cursive;
}

.lead{
    font-family: 'Rubik', sans-serif;
}

.social{
    padding: 10px;
}

.footer{
    text-align: center;
}

.navbar{
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    
}

.nav-item{
    position: relative;
    left: 35px;
}


.navbar h1{
    position: relative;
    left: 20px;
    top: 10px;
    font-family: 'Festive' , cursive;
    font-size: 60px;
}

a{
    color: black;
    text-decoration: none;
}

h3{
    padding-left: 30px;
}

.title{
    position: relative;
    left: 1020px;
    bottom: 380px;
    
}

.contact-form{
    position: relative;
    bottom:400px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    border-radius: 20px;
}

legend{
    text-align: center;
}
fieldset{
    border: black solid 2px;
    width: 50%;
    position: relative;
    bottom: 70px;
    text-align: center;
    margin: auto;
    padding: 10px;
}


.grid-item:hover{
    width: 500px;
    height: 600px;
    font-size: 50px;
    z-index: 10;
    margin: auto;
}

.card-img-top:hover{
    width: 500px;

}